<div class="row">
      <% @products.each do |product| %>	
        <div class="col-md-4">
          <img src= <%= product.image %> alt="Responsive image" class="img-thumbnail" width=194 height=194>
         <div>
           <a><%= product.title %></a><br>
           <a><%= product.description %></a><br>
            <a><%= product.value %></a><br>
         </div>
       </div>
      <% end %>
</div>