<div class="container">

<div class="row">
<h2> Seja bem vindo ao painel Administrativo </h2>
</div>


<div class="row">
    <%= link_to("Gerenciamento de administradores", admin_admins_path, class: "nav-link") %>
    <h4> Realizar o cadastro, edição, exclusão e update </h4>
</div>

<div class="row">
    <%= link_to("Gerenciamento de produtos", admin_products_path, class: "nav-link") %>
    <h4> Realizar o cadastro, edição, exclusão e update </h4>
</div>

</div>