<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h1> Seja bem vindo ao painel Administrativo </h1>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6 mx auto mt-5">
      <div>
        <%= image_tag('admins.jpg', style: 'height: 250px;' 'width: 100%;') %>
      </div>
      <div>
        <%= link_to("Gerenciamento de administradores", admin_admins_path, class: "navbar-text") %>
      </div>
      <div>
        <a> Realizar o cadastro, edição, exclusão e update </a>
      </div>
    </div>
    <div class="col-md-6 mx auto mt-5">
      <div>
        <%= image_tag('products.jpg', style: 'height: 250px;' 'width: 100%;') %>
      </div>
      <div>
        <%= link_to("Gerenciamento de produtos", admin_products_path, class: "navbar-text") %>
      </div>
      <div>
        <a> Realizar o cadastro, edição, exclusão e update </a>
      </div>
    </div>
  </div>
</div>
